{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": "off",
    "max-len": "off",
    "strict": "off",
    "camelcase": "off",
    "prefer-rest-params": "off",
    "global-require": "off"
  },
  "settings": {
    "import/ignore": ["node_modules"]
  },
  "globals": {
    "describe": true,
    "it": true,
    "xit": true
  }
}
